
body{ 
    background-color:rgb(180, 132, 226);
}

label{
    color: rgb(0, 0, 117);
}

input[type="text"]{
    display: block;
    
}
input[type="submit"]{
    display: block;
    margin-top: 10px;
}

input.text{
    background-color: rgb(185, 134, 233);
    border: 1px solid white;
}